<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="mat-mdc-icon-button-3">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
          [matTooltip]="'Density -3'">
          <mat-icon>more_vert </mat-icon>
        </button>
      </div>

      <div class="mat-mdc-icon-button-2">
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
          [matTooltip]="'Density -2'">
          <mat-icon>home (Density -2)</mat-icon>
        </button>
      </div>
      <div class="mat-mdc-icon-button-1">
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
          [matTooltip]="'Density -1'">
          <mat-icon>menu ( Density -1 )</mat-icon>
        </button>
      </div>
      <div class="mat-mdc-icon-button-0">
        <button mat-icon-button color="warn" aria-label="Example icon button with a menu icon"
          [matTooltip]="'Density -0'">
          <mat-icon>favorite (Density - 0) </mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>