// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.define-palette(mat.$indigo-palette);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$theme-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme((color: (primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn,
      ),
      typography: mat.define-typography-config(),
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

// Example global setting below

// $theme-1: mat.define-light-theme(
//   (
//     color: (
//       primary: $theme-primary,
//       accent: $theme-accent,
//       warn: $theme-warn,
//     ),
//     typography: mat.define-typography-config(),
//     density: -1,
//   )
// );


// Input form fields: 0
// Buttons: 0
// Icon buttons: -2
// Checkboxes: -2
// Radio buttons: -2
// Table: -2



.mdc-button-3 {
  @include mat.button-density(-3);
}

.mdc-button-2 {
  @include mat.button-density(-2);
}

.mdc-button-1 {
  @include mat.button-density(-1);
}

.mdc-button-0 {
  @include mat.button-density(0);
}



.mat-mdc-icon-button-3 {
  @include mat.icon-button-density(-3);
}

.mat-mdc-icon-button-2 {
  @include mat.icon-button-density(-2);
}

.mat-mdc-icon-button-1 {
  @include mat.icon-button-density(-1);
}

.mat-mdc-icon-button-0 {
  @include mat.icon-button-density(0);
}

.mdc-checkbox-3 {
  @include mat.checkbox-density(-3);
}

.mdc-checkbox-2 {
  @include mat.checkbox-density(-2);
}

.mdc-checkbox-1 {
  @include mat.checkbox-density(-1);
}

.mdc-checkbox-0 {
  @include mat.checkbox-density(0);
}